.container {
  max-height: 100vh;
  overflow-y: auto;
  text-align: center;
}

.list {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 10rem 2rem 2rem;
}

.skeleton {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .list {
    padding-top: 12.5rem;
  }
}
