:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  --bg-color-comp: #383838;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --bg-color: #ffffff;
    --bg-color-comp: #e7e7e7;
  }
}
